[submodule "background-slider"]
	path = background-slider
	url = https://github.com/fkrsyf29/background-slider
[submodule "blurry-loading"]
	path = blurry-loading
	url = https://github.com/fkrsyf29/blurry-loading
[submodule "breakout-games"]
	path = breakout-games
	url = https://github.com/fkrsyf29/breakout-games
[submodule "double-vertical-slider"]
	path = double-vertical-slider
	url = https://github.com/fkrsyf29/double-vertical-slider/
[submodule "hangman"]
	path = hangman
	url = https://github.com/fkrsyf29/hangman/
[submodule "hoverboard"]
	path = hoverboard
	url = https://github.com/fkrsyf29/hoverboard/
[submodule "rock-paper-scissors"]
	path = rock-paper-scissors
	url = https://github.com/fkrsyf29/rock-paper-scissors.git
[submodule "math-games"]
	path = math-games
	url = https://github.com/fkrsyf29/math-games
[submodule "custom-video-player-vanilla"]
	path = custom-video-player-vanilla
	url = https://github.com/fkrsyf29/custom-video-player-vanilla
[submodule "typing-game-vanilla"]
	path = typing-game-vanilla
	url = https://github.com/fkrsyf29/typing-game-vanilla
[submodule "speak-number-vanilla"]
	path = speak-number-vanilla
	url = https://github.com/fkrsyf29/speak-number-vanilla/
[submodule "infinite-scroll-vanilla"]
	path = infinite-scroll-vanilla
	url = https://github.com/fkrsyf29/infinite-scroll-vanilla/
[submodule "lyrics-search-vanilla"]
	path = lyrics-search-vanilla
	url = https://github.com/fkrsyf29/lyrics-search-vanilla/
[submodule "meal-finder-vanilla"]
	path = meal-finder-vanilla
	url = https://github.com/fkrsyf29/meal-finder-vanilla/
[submodule "memory-cards-vanilla"]
	path = memory-cards-vanilla
	url = https://github.com/fkrsyf29/memory-cards-vanilla/
[submodule "modal-menu-slider-vanilla"]
	path = modal-menu-slider-vanilla
	url = https://github.com/fkrsyf29/modal-menu-slider-vanilla/
