[submodule "background-slider"]
	path = background-slider
	url = https://github.com/fkrsyf29/background-slider
[submodule "blurry-loading"]
	path = blurry-loading
	url = https://github.com/fkrsyf29/blurry-loading
[submodule "breakout-games"]
	path = breakout-games
	url = https://github.com/fkrsyf29/breakout-games
[submodule "double-vertical-slider"]
	path = double-vertical-slider
	url = https://github.com/fkrsyf29/double-vertical-slider/
