[submodule "background-slider"]
	path = background-slider
	url = https://github.com/fkrsyf29/background-slider
[submodule "blurry-loading"]
	path = blurry-loading
	url = https://github.com/fkrsyf29/blurry-loading
[submodule "breakout-games"]
	path = breakout-games
	url = https://github.com/fkrsyf29/breakout-games
[submodule "double-vertical-slider"]
	path = double-vertical-slider
	url = https://github.com/fkrsyf29/double-vertical-slider/
[submodule "hangman"]
	path = hangman
	url = https://github.com/fkrsyf29/hangman/
[submodule "hoverboard"]
	path = hoverboard
	url = https://github.com/fkrsyf29/hoverboard/
[submodule "rock-paper-scissors"]
	path = rock-paper-scissors
	url = https://github.com/fkrsyf29/rock-paper-scissors.git
